<!-- /views/elephant.erb -->

  <h1>Dice Roll</h1>

  <ul>
    <li><a href=https://reimagined-train-7rjrv9jvj95hpp6r-4567.app.github.dev/dice/2/6>Roll two six sided die</a></li>
    <li><a href=https://reimagined-train-7rjrv9jvj95hpp6r-4567.app.github.dev/dice/2/10>Roll two ten sided die</a></li>
    <li><a href=https://reimagined-train-7rjrv9jvj95hpp6r-4567.app.github.dev/dice/1/20>Roll one twenty sided die</a></li>
    <li><a href=https://reimagined-train-7rjrv9jvj95hpp6r-4567.app.github.dev/dice/5/4>Roll five four sided die</a></li>
    <li><a href=https://reimagined-train-7rjrv9jvj95hpp6r-4567.app.github.dev/dice/3/6>Roll three six sided die</a></li>
  </ul>
  
